{% extends "users/base.html" %}
{% block title %} Página de Inicio {% endblock title %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Bienvenido, {{user.first_name.title|default:'Invitado'}}</h1>
        <p class="lead">
            Este es un <b>sistema de registro e inicio de sesión de usuarios</b> creado con Django, 
            un framework web gratuito y de código abierto basado en Python que sigue el patrón arquitectónico modelo-plantilla-vistas.
        </p>
        <hr class="my-4">
        <p class="lead">
            {% if user.is_authenticated %}
                <a class="btn btn-primary btn-lg" href="{% url 'logout' %}" role="button">Cerrar Sesión</a>
            {% else %}
                <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Iniciar Sesión</a>
            {% endif %}
        </p>
    </div>
{% endblock content %}
